<!-- Line Chart Modal -->
<div class="modal fade" id="lineChartModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content" style="background-color: #212121;">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">
            {{ data[0][1] }} Chart
          </h1>
        </div>
        <div class="modal-body">
            <canvas id="myChart"></canvas>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="save-chart" onclick="downloadChart()">Download</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <script>
    function downloadChart() {
      var a = document.createElement('a')
      a.href = document.getElementById("myChart").getAttribute("base-64")
      a.download = 'chart.png'
      a.click()
    }
      
  </script>