<!-- Jinja syntax to inherit template properties form the base.html template -->
{% extends 'base.html' %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css')}}">
{% endblock %}

{% block title %}
  <title>Home Page</title>
{% endblock %}

{% block body %}

<div class="container">
  {% if data%}
  <div class="row" style="margin-top: 20px; margin-left: 20px;">
    <div class="col">
      <h2>Historical Data</h2>
      <button type="button" class="btn btn-outline-light" style="margin-bottom: 15px;" data-toggle="modal" data-target="#addItemModal">Export to CSV</button>
      <a class="btn btn-outline-light" href="{{ url_for('home') }}" style="margin-bottom: 15px; margin-left: 5px;">New Search</a>
      <table class="table table-hover table-dark">
        <thead>
          <tr>
            <!-- Your Columns HERE-->
            <th scope="col">Date</th>
            <th scope="col">Ticker</th>
            <th scope="col">Open</th>
            <th scope="col">High</th>
            <th scope="col">Low</th>
            <th scope="col">Close</th>
            <th scope="col">Volume</th>
          </tr>
        </thead>
        <tbody>
            <!-- Your Rows HERE-->
            <!-- The percentage signs '%%' is jinja syntax that allsws you to write python logic such as loops, conditionals, if statements, etc.. -->
          {% for item in data %}
            <tr>
              <th scope="row">{{ item[0] }}</th>
              <td>{{ item[1] }}</td>
              <td>{{ item[2] }}</td>
              <td>{{ item[3] }}</td>
              <td>{{ item[4] }}</td>
              <td>{{ item[5] }}</td>
              <td>{{ item[6] }}</td>
              <!-- <td>
                <button class="btn btn-outline btn-info" data-toggle="modal" data-target="#">More Info</button>
                <button class="btn btn-outline btn-success" data-toggle="modal" data-target="#">Purchase</button>
              </td> -->
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  
  {% else %}
  <form method="post">
    <div class="form-group" style="text-align: center; margin-top: 18%;">
        <h1>Historical Stock Data</h1>
        <label for="exampleInputEmail1"></label>
        <input name="stock-query" class="form-control form-control-lg" type="text" placeholder="TSLA">
        <small id="emailHelp" class="form-text text-muted">Enter a ticker symbol for a publicly traded stock.</small>
        <button type="submit" class="btn btn-outline-light btn-lg" style="margin-top: 10px;">Search</button>     
    </div>
</form>
  {%endif%}
</div>
  
  
{% endblock %}