<!-- Jinja syntax to inherit template properties form the base.html template -->
{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css')}}">
{% endblock %}

{% block title %}
  <title>Login Page</title>
{% endblock %}

{% block body %}
    <div class="container" style="margin-bottom: 20px;">
      <form method="POST" class="form-signin" style="color:white">
        {{ form.hidden_tag() }} <!-- adds a csrftoken to this form to protect from attacks-->
        <img class="img-fluid" src="{{ url_for('static', filename='images/bull.jpg')}}" style="margin-top: 15px; margin-bottom: 15px;" alt="">
        <h1 class="h3 mb-3 font-weight-normal">
            Please Login
        </h1>
        <br>
        {{ form.username.label() }}
        {{ form.username(class="form-control", placeholder="User Name") }}

        {{ form.password.label() }}
        {{ form.password(class="form-control", placeholder="Password") }}

        <br>


        <div class="checkbox mb-3">
           <h6>Don't have an account?</h6>
           <a class="btn btn-sm btn-secondary" href="{{ url_for('register') }}">Register</a>
        </div>

        {{ form.submit(class="btn btn-lg btn-block btn-primary") }}

      </form>
    </div>
  
{% endblock %}