<!-- Jinja syntax to inherit template properties form the base.html template -->
{% extends 'base.html' %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css')}}">
{% endblock %}

{% block title %}
  <title>Options Data</title>
{% endblock %}

{% block body %}

<div class="container main-container">
  {% if data %}
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <h2>{{ ticker }} Calls and Puts</h2>
        </div>

        <div class="col-sm"></div>

        <div class="col-sm" max-width="10%">
          <h5>{{ '$%.2f' % (lastPrice) }}</h5>
          <span>{{ '($%.2f)' % (dayChange) }}</span>
        </div>
      </div>

      <div class="row">
        <div class="col-sm" id="expiration-dates-btn-group" class="btn-group btn-group-toggle" data-toggle="buttons">
          <h6>Epiration Dates</h6>
          <label class="btn btn-secondary active">
            <input type="radio" name="options" id="option1" autocomplete="off" checked> 60
          </label>
          <label class="btn btn-secondary">
            <input type="radio" name="options" id="option2" autocomplete="off"> 90
          </label>
          <label class="btn btn-secondary">
            <input type="radio" name="options" id="option3" autocomplete="off"> 120
          </label>
          <label class="btn btn-secondary">
            <input type="radio" name="options" id="option3" autocomplete="off"> All
          </label>
        </div>

        <div class="col-sm"></div>

        <div class="col-sm" max-width="10%">
          <h6>Strikes</h6>
          <select class="custom-select">
            <option selected value="8">8</option>
            <option value="16">16</option>
            <option value="All">All</option>
          </select>
        </div>
      </div>
    </div>

    
    
    {% for i in range(num_exp_dates) %}
    <div class="accordion" id="accordionExample-{{i}}">
      <div class="card">
        <div class="card-header" id="heading-{{i}}">
          <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse-{{i}}" aria-expanded="true" aria-controls="collapse-{{i}}">
              {{dt_exp_dates[i].strftime('%b %d, %Y')}}   <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down" viewBox="0 0 16 16" style="text-align: right;">
                <path d="M3.204 5h9.592L8 10.481 3.204 5zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z"/>
              </svg>
            </button>
            
          </h2>
        </div>

        <div id="collapse-{{i}}" class="collapse hide" aria-labelledby="heading-{{i}}" data-parent="#accordionExample-{{i}}">
          <div class="card-body">
            <div class="row" style="margin-top: 20px; margin-left: 20px;">
              <div class="col">
                <div class="table-responsive">
                  <table id="historical-data-table" class="table table-hover table-light table-fluid">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">Strike</th>
                        <th scope="col">Implied Vol</th>
                        <th scope="col">Bid</th>
                        <th scope="col">Ask</th>
                        <th scope="col">Last</th>
                        <th scope="col">Change</th>
                        <th scope="col">Volume</th>
                        <th scope="col">Open Interest</th>
                        <th scope="col">In The Money</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for item in data[exp_dates[i]] %}
                        <tr id="data-row-{{ item[0] }}" class="itm-{{item[8]}}">
                          <th scope="row">{{ '%.1f' % (item[0]) }}</th>
                          <td>{{ '%.2f' % (item[1]) }}</td>
                          <td>{{ '%.2f' % (item[2]) }}</td>
                          <td>{{ '%.2f' % (item[3]) }}</td>
                          <td>{{ '%.2f' % (item[4]) }}</td>
                          <td>{{ '%.2f' % (item[5]) }}</td>
                          <td>{{ '%.0f' % (item[6]) }}</td>
                          <td>{{ '%.0f' % (item[7]) }}</td>
                          <td>{{ item[8] }}</td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
  
  {% else %}
  <form method="GET">
    <div class="form-group" style="text-align: center; margin-top: 18%;">
        <h1>Historical Stock Data</h1>
        <label for=""></label>
        <div class="row">
          <div class="col form-group">
            <label for="start" class="col-form-label-lg">Start date:</label>
            <input type="date" class="form-control-lg" id="start_date" name="start-date" min="1997-01-01" max="2017-12-31" required/>
            <div class="invalid-feedback">
              Please enter a start date.
            </div>
          </div>
          <div class="col form-group">
            <label for="end" class="col-form-label-lg">End date:</label>
            <input type="date" class="form-control-lg" id="end_date" name="end-date" min="1997-01-01" max="2017-12-31" required/>
            <div class="invalid-feedback">
              Please enter an end date.
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <input name="stock-query" class="form-control form-control-lg" type="text" placeholder="TSLA" required>
            <div class="invalid-feedback">
              This cannot be empty.
            </div>
            <small id="tickerHelp" class="form-text text-muted">Enter the ticker symbol of a publicly traded stock listed on the Nasdaq.</small>
            <small id="tickerHelp" class="form-text text-muted">Note: Every request costs 50 coins.</small>
          </div>
        </div>
        
        <button type="submit" class="btn btn-outline-light btn-lg" style="margin-top: 10px;">Search</button>     
        {% if current_user.budget < 50 and current_user.reloads == 0 %}
        <a href="{{ url_for('coins.reload')}}" class="btn btn-outline-success btn-lg" style="margin-top: 10px;">Reload Coins</a>
        {%endif%}
    </div>
  </form>
  {%endif%}
</div>

{% endblock %}

{%block js%}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap4.min.js"></script>
<script src="{{ url_for('static', filename='js/options_data.js')}}"></script>
{%endblock%}